<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/main_layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>${title}</title>
<meta name="keywords" content="${systemName}" />
<meta name="description" content="${content}" />
<!-- Data Tables -->
</head>
<body class="gray-bg">
	<div class="ibox-content" layout:fragment="content">
		<form class="form-inline" id="condition_form" data-grid-id="grid" onsubmit="return false;">
			<div class="form-group">
				<div class="form-group">
					<label for="staffCode" class="sr-only">スタッフコード</label> <input
						id="staffCode" type="text" placeholder="スタッフID"
						class="form-control " validate="{maxlength:128,required:true}"
						th:field="${staffDto.staffCode}" />
				</div>
				<div class="form-group">
					<label for="staffName" class="sr-only">スタッフ名前</label> <input
						id="staffName" type="text" placeholder="スタッフ名前"
						class="form-control " validate="{maxlength:64}"
						th:field="${staffDto.staffName}" />
				</div>

				<div class="form-group">
					<label class="sr-only">会社</label>
					<div class="col-sm-10">
						<select class="form-control number"
							th:field="${staffDto.staffCompanyId}">
							<option value="">---会社を選択---</option>
							<option th:each="item : ${@companyService.selectByExample(null)}"
								th:value="${item.companyId}" th:text="${item.companyName}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="workerNumber" class="sr-only">派遣会社作業員番号</label> <input
						type="text" placeholder="派遣会社作業員番号"
						class="form-control "
						th:field="${staffDto.workerNumber}" />
				</div>
				<button class="btn btn-primary m-l-sm m-t-xs" type="submit"
					id="searchForGrid" data-grid-id="grid">検索</button>
				<button class="btn btn-primary m-l-sm m-t-xs" type="submit"
					onclick="exportExcel();" id="export" data-grid-id="grid">ダウンロード</button>
			</div>
		</form>
		<div class="hr-line-dashed"></div>
		<table id="grid" class="table table-bordered table-hover"
			data-opt="{'loadUrl':'api/staffRest/listAll','addUrl':'staff/insert','editUrl':'staff/edit','deleteUrl':'api/staffRest'}"
			data-key="staffId"></table>
	</div>
	<div layout:fragment="js">
		<script type="text/javascript">
			function exportExcel() {
				var staffCode = $('#staffCode').val();
				var staffName = $('#staffName').val();

				staffCode = staffCode;
				staffName = staffName;
				var url = '/report/staff/export?staffName=' + staffName
						+ '&staffCode=' + staffCode;
				window.location.href = url;


			}
		</script>
		<script th:src="@{/js/main/staff/list.js}"></script>
	</div>
	<h5 layout:fragment="caption">スタッフ一覧画面</h5>
</body>
</html>