<head layout:fragment=”header”>
<meta charset="utf-8"></meta>
<meta name="basepath" th:content="@{/}"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>

<meta name="keywords" content=""></meta>
<meta name="description" content=""></meta>

<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}">
<link rel="stylesheet" th:href="@{/css/animate.min.css?v=3.4.0}">
<link rel="stylesheet" th:href="@{/css/style.min.css?v=1.0.1}">
<link rel="stylesheet" th:href="@{/css/plugins/iCheck/custom.css}">
<link th:href="@{/css/plugins/jqgrid/ui.jqgridffe4.css?0820}" rel="stylesheet">
<link th:href="@{/css/plugins/layui/layui.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/plugins/sweetalert/sweetalert.css}">

<style type="text/css">
.layui-laydate-content>.layui-laydate-list {
	padding-bottom: 0px;
	overflow: hidden;
}

.layui-laydate-content>.layui-laydate-list>li {
	width: 50%
}

.merge-box .scrollbox .merge-list {
	padding-bottom: 5px;
}

.emptyTdCell {
	font-size: 28px;
	color: #fff;
	cursor: pointer;
	background-color: #ed5565 !important;
}

.blackCell {
    background-color: gray;
}

.warnCell {
	background-color: red;
}

.upLoadFile{
    visibility: hidden;
}
</style>
<script th:src="@{/js/cj_common.js}"></script>
</head>