<head layout:fragment=”header”>
<meta charset="utf-8"></meta>
<meta name="basepath" th:content="@{/}"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>

<meta name="keywords" content=""></meta>
<meta name="description" content=""></meta>

<title layout:fragment="caption"></title>

<link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet" />
<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
<link th:href="@{/css/animate.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.min.css?v=4.1.0}" rel="stylesheet" />

<link th:href="@{/css/plugins/layui/layui.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/plugins/sweetalert/sweetalert.css}">

<link rel="stylesheet" th:href="@{/css/plugins/summernote/summernote.css}">
<link rel="stylesheet" th:href="@{/css/plugins/summernote/summernote-bs3.css}">


<style type="text/css">
.layui-laydate-content>.layui-laydate-list {
	padding-bottom: 0px;
	overflow: hidden;
}

.layui-laydate-content>.layui-laydate-list>li {
	width: 50%
}

.merge-box .scrollbox .merge-list {
	padding-bottom: 5px;
}
.toolbar {
  border: 1px solid #ccc;
}

</style>
</head>
