<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main_layout}">
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>${title}</title> 
  <meta name="keywords" content="${systemName}" /> 
  <meta name="description" content="${content}" />    
  <!-- Data Tables -->    
 </head> 
 <body class="gray-bg">
  <div class="ibox-content" layout:fragment="content"> 
   <form class="form-inline" id="condition_form" data-grid-id="grid">
    <div class="form-group">
     <div class="form-group">
      <label for="date">日付：</label>
      <input id="date" class="laydate-icon2 form-control layer-date"
             th:value="${workPlanDate}" readonly autocomplete="off"
             style="width: 180px;" placeholder="yyyy-mm-dd"
             name="workPlanDate" />
     </div>
     <div class="form-group">
      <label class="sr-only">会社</label>
      <select class="form-control number"
              th:field="${workPlanDto.workPlanCompanyId}">
       <option value="">---会社を選択---</option>
       <option th:each="item : ${@companyService.selectByExample(null)}"
               th:value="${item.companyId}" th:text="${item.companyName}"></option>
      </select>
     </div>
     <div class="form-group">
      <label class="sr-only">クラス</label>
      <select class="form-control number"
              th:field="${workPlanDto.workPlanLevel}">
       <option value="">---クラスを選択---</option>
       <option value="リーダー">リーダー</option>
       <option value="サブリーダー">サブリーダー</option>
       <option value="トレーナー">トレーナー</option>
       <option value="フォーク">フォーク</option>
      </select>
     </div>
     <div class="form-group">
      <label for="workPlanNumber" class="sr-only">社員番号</label>
       <input type="text" style="width: 120px;" placeholder="社員番号" class="form-control"
              validate="{maxlength:10}" th:field="${workPlanDto.workPlanNumber}" />
     </div>
     <div class="form-group">
      <label for="staffName" class="sr-only">氏名</label> <input
             id="staffName" style="width: 120px;" type="text" placeholder="氏名"
             class="form-control " validate="{maxlength:64}"
             th:field="${workPlanDto.workPlanName}" />
     </div>

     <button class="btn btn-primary m-l-sm m-t-xs" type="submit"
             id="searchForGrid" data-grid-id="grid">検索</button>
     <button class="btn btn-success m-l-sm m-t-xs" type="button"
             id="upLoadBtn">翌日作業予定アップロード</button>
     <button class="btn btn-white" type="reset">リセット</button>
     <div hidden="true" class="form-group">
     <input id="attachment" type="file" value="123" style="border: 0px;" class="upLoadFile" th:name="attachment" onchange ="upLoadExcel();" />
     </div>
    </div>
   </form> 
   <div class="hr-line-dashed"></div> 
   <table id="grid" class="table table-bordered table-hover"
          data-opt="{'loadUrl':'api/workPlanRest/list','addUrl':'workPlan/insert','editUrl':'workPlan/edit','deleteUrl':'api/workPlanRest'}"
          data-key="workPlanId"></table>
   <div class="hr-line-dashed" style="padding-bottom: 15px;"></div>
  </div>
  <div layout:fragment="js">
   <script type="text/javascript">
			$(document).ready(function() {
				laydate.render({
					elem : '#date',
					format : 'yyyy-MM-dd',
					theme : 'molv',
					lang : 'ja',
					trigger : 'click',
					btns : [ 'now', 'confirm' ]
				});
			});

			function error(title, callback) {
				swal({
					type : "error",
					title : title,
					showConfirmButton : true,
					timer : 2000
				}, function() {
					swal.close();
					callback();
				});
			}

			$('#upLoadBtn').click(function(){
                $('#attachment').click();
            });

			function upLoadExcel() {

				var file1 = $('#attachment').val();//
				var fileName1 = file1.substring(file1.lastIndexOf(".") + 1).toLowerCase();
				if($('#attachment')[0].files[0] != null){
				    var size1 = $('#attachment')[0].files[0].size;
				}
				//
				if (file1 == "") {
					message = 'エクセルファイルを選んでください。'
					top.swal(message, '', 'error')
				}
				//
				else if(fileName1 != "xls" && fileName1 !="xlsx"){
					message = 'エクセルファイルを選んでください。'
					top.swal(message, '', 'error')
				}
				//
				else if (size1>104857600) {
				    var size1 = $('#attachment')[0].files[0].size;
					error('ファイルのサイズが100M以内でアプロウドしてください。',
							function() {
								//location.reload();
						})
				}

				else{
				    boo1 = true;
                    var formData = new FormData();
                    formData.append("file",$('#attachment')[0].files[0]);
                    $.ajax({
                        type : "post",
                        url : "upLoadExcel",
                        data : formData,
                        processData : false,
                        contentType : false,
                        success : function(data){
                            $("input[name='userUrl']").val(data);
                            top.toastr.success(data.data, data.msg
							|| '操作完了しました。')
                            window.location.reload()
                        },
                        error : function(e) {
                            var message = null;
                            try {
                                message = $
                                        .parseJSON(e.responseText).errors[0].message;
                            } catch (e) {
                                console.log(e);
                                message = 'システムエラーが発生しました。'
                            }
                                error(message, function() {
                                options.error(e);
                            });
                        }
                    });
				}
			}
   </script>
   <script th:src="@{/js/main/workPlan/list.js}"></script>
  </div>
  <h5 layout:fragment="caption">作業予定一覧画面</h5> 
 </body>
</html>