<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/note_layout}">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title layout:fragment="caption">掲示板</title>
</head>
<body class="gray-bg" style="overflow-x: hidden; overflow-y: hidden">
	<div id="notification_list" class="ibox float-e-margins"
		layout:fragment="left_content">

		<!-- div>
			<button id="expandGroupBtn" type="button" class="btn btn-primary">全て展開</button>
			<button id="closeGroupBtn" type="button" class="btn btn-default"
				data-toggle="collapse" data-target=".multi-collapse">全て閉める</button>
		</div> -->

			<div style="padding: 6px;">
                    <h2 align="center">業務区別毎に周知情報一覧</h2>
                </div>
		<div class="panel-body" style="padding: 0px;">
			<div class="panel-group" id="panel-group-div">
				<div class="panel panel-default" id="panel-group-template">
					<div class="panel-heading">
						<h5 class="panel-title">
							<a data-toggle="collapse" data-parent="#panel-group-div">
								<span></span>
							</a>
						</h5>
					</div>
					<div class="panel-collapse collapse">
							<ul class="list-group notification-group-list">
							</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- div class="panel-heading" style="padding: 0px">
				<div class="panel-options">
					<ul class="nav nav-tabs">
					</ul>
				</div>
			</div>

			<div class="panel-body" style="padding: 0px">
				<div class="tab-content">
					<div id="tab-content" class="tab-pane active">
						<div id="listGroupUL" class="ibox-content"></div>
					</div>
				</div>

			</div>
 -->
	</div>

	<div class="ibox float-e-margins" layout:fragment="right_content">
		<div>
			<button id="addBtn" type="button"
				class="btn btn-primary control-btn-group">追加</button>
			<button id="editBtn" type="button"
				class="btn btn-primary control-btn-group">編集</button>
			<button id="saveBtn" type="button"
				class="btn btn-primary control-btn-group">保存</button>
			<button id="cancelBtn" class="btn btn-default control-btn-group"
				type="button">キャンセル</button>
			<div
				style="display: inline-block; position: absolute; right: 0px; padding-right: 5px;">
				<button id="openBtn" type="button"
					class="btn btn-success control-btn-group">公開</button>
				<button id="closeBtn" type="button"
					class="btn btn-danger control-btn-group">閉じる</button>
			</div>
		</div>
		<div class="ibox-content"
			style="height: 800px; max-height: 500px; overflow-y: auto; padding-top: 0px;">
			<form id="notificationDetail" class="form-horizontal m-t"
				method="put" style="padding-top: 0px;">
				<div hidden="true" class="form-group">
					<input id="notificationId" type="text" class="form-control "
						name="id" /> <input id="notificationStatus" type="text"
						class="form-control " name="notificationStatus" />
				</div>
				<div class="form-group">
					<label>業務区別</label> <select id="processId" disabled="disabled"
						class="form-control number" th:name="processId">
						<option value="">---業務区別を選択---</option>
						<option th:each="item : ${@processService.selectByStatus(null)}"
							th:value="${item.ProcessId}" th:text="${item.ProcessName}"></option>
					</select>
				</div>
				<div class="form-group">
					<label>タイトル</label> <input id="title" class="form-control"
						placeholder="タイトルを入力してください" validate="{maxlength:30}"
						disabled="disabled" type="text" name="title" />
				</div>
				<div id="eg" class="form-group">
					<label>通知内容</label>
					<div id="detailContent" class="click2edit wrapper">通知内容を入力して下さい</div>
				</div>
			</form>

		</div>
	</div>
	<div layout:fragment="js">
		<script type="text/javascript">
			var mode_init = 1;
			var mode_save = 2;
			var mode_edit = 3;
			var mode_detail_open = 4;
			var mode_detail_close = 5;
			var mode_current = mode_init;

			var ori_process_id = -1;

			//画面初期化
			$(document)
					.ready(
							function() {

								$("#panel-group-template").hide();

								//業務区別を取得する
								var options = {};
								options.url = 'clientRest/notification/process';
								options.type = 'GET';

								options.sucess = function(dataList) {
									//業務区別のラベルを生成する
									for (i = 0; i < dataList.length; i++) {

										var panelGroup = $(
												"#panel-group-template")
												.clone();
										$(panelGroup).attr(
												"id",
												dataList[i].processId
														+ "-panel-group");
										var link = $(panelGroup)
												.find("a:first");
										$(link).attr(
												"href",
												"#" + dataList[i].processId
														+ "-panel-body");
										$(panelGroup).find("span:first").text(
												dataList[i].processName);
										$("#panel-group-div")
												.append(panelGroup);

										$(panelGroup)
												.find(".panel-collapse")
												.attr(
														"id",
														dataList[i].processId
																+ "-panel-body");

										panelGroup.show();

										loadList(dataList[i].processId);

									}
								}
								options.error = function(res) {
									setInputEditable(false);
								};
								cj.http.get(options);

								$('#addBtn').click(function() {
									setMode(mode_save);
									$('#notificationStatus').val(true);
								})

								$('#editBtn').click(function() {
									setMode(mode_save);
								})

								$('#saveBtn').click(function() {
									doSave();
								})

								//「キャンセル」ボタンをクリック
								$('#cancelBtn')
										.click(
												function() {
													if (mode_current == mode_init) {
														setMode(mode_init);
													} else if (mode_current == mode_detail_close
															|| mode_current == mode_detail_open) {
														setMode(mode_init);
													} else {
														if ($('#notificationId')
																.val() == '') {
															setMode(mode_init);
														} else {
															setMode(mode_detail_open);
														}
													}
													return false;
												})

								//「open」ボタンをクリック
								$('#openBtn').click(function() {
									$("#notificationStatus").val("true");
									doSave();
								})

								//「close」ボタンをクリック
								$('#closeBtn').click(function() {
									$("#notificationStatus").val("false");
									doSave();
								})

								$("#expandGroupBtn").click(function() {
									$('.collapse').collapse('show')
								});
								$("#closeGroupBtn").click(function() {
									$('.collapse').collapse('hide')
								});
								setMode(mode_init);

							})
			function doSave() {
				var options = {};
				options.dom = this;
				options.url = 'clientRest/notification/save';
				options.data = {
					notificationId : $('#notificationId').val(),
					notificationProcessId : $("#processId").val(),
					notificationTitle : $('#title').val(),
					notificationContent : $("#detailContent").code(),
					notificationStatus : $('#notificationStatus').val(),
				};
				options.sucess = function(res) {
					swal('処理は正常完了しました。');
					//業務区別を変更した場合、再取得する
					if(ori_process_id != -1 && ori_process_id != $("#processId").val()) {
						loadList(ori_process_id);
					}
					loadList($("#processId").val());
					//listをリロードする
					if ($('#notificationId').val() == '') {
						setMode(mode_init);
					} else {
						console.log($('#notificationStatus').val());
						if($('#notificationStatus').val() == 'true') {
							setMode(mode_detail_open);
						} else {
							console.log("mode_detail_close : " + mode_detail_close);
							console.log(mode_detail_close);
							setMode(mode_detail_close);
						}
					}
				};

				cj.http.post(options);
			}

			function loadList(processId) {
				$('#' + processId + '-panel-group').attr("class", "panel panel-default");

				var options = {};
				options.url = 'clientRest/notification/list/' + processId;
				options.data = {};

				var groupId = processId + "ListGroup";
				options.sucess = function(res) {
					$("#" + processId + "-panel-body").find(
					".notification-group-list").empty();
					createList(res, processId);
				}
				options.error = function(res) {
					setInputEditable(false);
				};
				cj.http.get(options);
			}

			function createList(list, processId) {
				for (var i = 0; i < list.length; i++) {

					var li = $('<li class="list-group-item"></li>');
					$(li).append('<span>' + list[i].notificationOpenTime + '</span>');
					$(li).append('<a href="#" >'
							+ list[i].notificationTitle + '</a>');
					var link = $(li).find("a");
					$(link).attr("id", list[i].notificationId);

					//掲示板情報をクリック
					$(link).click(function() {
						var options = {};
						options.dom = this;
						options.url = "clientRest/notification/detail/"
								+ $(this).attr("id");
						options.sucess = function(res) {
							showNotification(res);
						};
						cj.http.get(options);
						return false;
					})

					var span = $(li).find("span");
					if (!list[i].notificationStatus) {
						//閉じた状態
						$(span).attr("class", "badge badge-disable");
					} else {
						if (list[i].openedRecently) {
							$(span).attr("class", "badge badge-success");
							$('#' + processId + '-panel-group').attr("class", "panel panel-success");
						} else {
							$(span).attr("class", "badge badge-white");
						}
					}
					$("#" + processId + "-panel-body").find(
							".notification-group-list").append(li);
				}
			}

			//掲示情報を表示する
			function showNotification(notify) {
				$("#notificationId").val(notify.notificationId);
				$("#title").val(notify.notificationTitle);
				$("#processId").val(notify.notificationProcessId);
				$("#notificationStatus").val(notify.notificationStatus);

				setEditorContent(notify.notificationContent);
				setMode(notify.notificationStatus ? mode_detail_open
						: mode_detail_close);

				ori_process_id = notify.notificationProcessId;
			}

			function setEditorContent(content) {
				openEditor();
				$("#detailContent").code(content);
				destoryEditor();
			}

			function openEditor() {
				$("#eg").addClass("no-padding");
				$("#detailContent").summernote({
					lang : "ja-JP"
				});
			}
			function destoryEditor() {
				$("#eg").removeClass("no-padding");
				$("#detailContent").destroy();
			}

			function setMode(mode) {

				console.log(mode);

				mode_current = mode;
				$(".control-btn-group").hide();
				setInputEditable(false);
				switch (mode) {
				case mode_init:
					$("#addBtn").show();
					$("#notificationDetail").find("input,select").val("");
					setEditorContent("");
					ori_process_id = -1;
					break;
				case mode_detail_open:
					$("#editBtn").show();
					$("#closeBtn").show();
					$("#cancelBtn").show();
					break;
				case mode_detail_close:
					$("#openBtn").show();
					$("#cancelBtn").show();
					break;
				case mode_save:
					setInputEditable(true);
					$("#saveBtn").show();
					$("#cancelBtn").show();
					break;
				;
			}
		}

		function setInputEditable(status) {
			$("#notificationDetail").find("input,select").prop("disabled",
					!status);
			if (status) {
				openEditor();

			} else {
				destoryEditor();
			}
		}
		</script>
	</div>
	<h5 layout:fragment="caption">周知掲示板</h5>
</body>
</html>