<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="basepath" th:content="@{/}"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="renderer" content="webkit"></meta>
<title>勤怠管理システムーログイン画面</title>
<meta name="keywords" content=""></meta>
<meta name="description" content=""></meta>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}"
	rel="stylesheet">
<link th:href="@{/css/animate.min.css}" rel="stylesheet">
<link th:href="@{/css/style.min.css}" rel="stylesheet">
<link th:href="@{/css/login.min.css}" rel="stylesheet">
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<script>
	if (window.top !== window.self) {
		window.top.location = window.location
	};
</script>

</head>

<body class="signin">
	<div class="signinpanel">
		<div class="row">
			<div class="col-sm-7">
				<div class="signin-info">
					<div class="logopanel m-b">
						<h1>[勤怠管理システム]</h1>
					</div>
					<div class="m-b"></div>
					<h4>
						<strong>勤怠管理 管理者システム</strong> ようこそ！
					</h4>
					<ul class="m-b">
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 作業内容管理</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> スタッフ管理</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 出退勤管理</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 協力会社管理</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 作業時間管理</li>
						<li><i class="fa fa-arrow-circle-o-right m-r-xs"></i>
							各種集計、帳票出力</li>
					</ul>

				</div>
			</div>
			<div class="col-sm-5">
				<form name='loginForm' th:action="@{/login}" method="post">
					<h4 class="no-margins">ログイン：</h4>
					<p class="m-t-md"></p>
					<p style="color:red;" th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">ログインIDまはたパスワードが間違っています。
					</p>
					<input type="text" class="form-control uname" name="username"
						validate="{required:true}" placeholder="ユーザーID" /> <input
						type="password" class="form-control pword m-b" name="password"
						validate="{required:true}" placeholder="パスワード" /> <a href="#"></a>
					<button type="submit" class="btn btn-success btn-block">登録</button>
				</form>
			</div>
		</div>
		<div class="signup-footer">
			<div class="pull-left">&copy; 2020 All Rights Reserved. BSSAPP
			</div>
		</div>
	</div>
</body>
</html>
